.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* background-color: red;  */
  flex-direction: column;
  /* gap: 30px; */
}

* {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 90px;
  width: 100%;
  margin-top: 33px;
  /* padding-inline: 48px; */
}

.logo {
  display: flex;
  /* height: 50px;
  width: 50px; */
  flex: 1;
  justify-content: flex-start;
}

.logo > img {
  height: 50px;
  padding-inline: 48px;
}

.hero {
  width: 100%;
  object-fit: cover;
  height: 700px;
  width: 1440px;
  object-position: top;

  /* height: 50vh; */
}

.shadow {
  background-color: #00000099;
  opacity: 60%;
}

.center {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  /* width: 33.3%; */
  flex: 1;
  justify-content: center;
  gap: 32px;
}

.right {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  /* width: 33.3%; */
  flex: 1;
  /* flex-grow: 1; */
  justify-content: flex-end;
  gap: 32px;
}
/* .men {
  margin-right: 30px;
}

.company {
  margin-right: 30px;
}

.store {
  margin-left: 30px;
}

.woman {
  margin-right: 30px;
} */

.search {
  /* margin-right: 30px; */
}
.help {
  /* margin-left: 15px;
  margin-right: 15px; */
}

.zero {
}

.bag {
  margin-right: 15px;
}

header > div {
  color: #777b85;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-top: -489px;
  display: flex;
  flex-direction: column;
  color: white;
}

.bagzero {
  display: flex;
  /* flex-direction; */
  gap: 12px;
  padding-right: 48px;
}

.arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.button {
  width: 457px;
  height: 63px;
  border-radius: 8px;
  background-color: #5046e5;
  border: none;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Paragraph {
  margin-bottom: 32px;
  width: 939px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.Paragraph2 {
  width: 939px;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  justify-items: flex-start;
}

.arrival > * {
  color: white;
  font-family: "Inter", sans-serif;
}
